//

// universal
$darkest: #000;
$lightest: #fff;
$medium: #c3bbbf;

// backgrounds - hex
$lightBg: #fffdf1;
$dark1Bg: #110f10;
$dark2Bg: #2b2629;
$dark3Bg: #463e42;

// bg states primary - hex
$startStateBg1: #f99b90;
$hoverStateBg1: #f6705f;
// bg states secondary - hex
$startStateBg2: #f99b90;
$hoverStateBg2: #f6705f;

// text - hex
$darkText1: #110f10;
$darkText2: #2b2629;
$darkText3: #463e42;

// accents - hex

/* 
RGBA 
$rgba-format: rgba(78, 61, 140, 1);
*/

/*
HSLA 
$hsla-format: hsla(253deg, 38%, 39%, 100%);
*/
